*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DDDBDD;
    margin: 3em 0 0 0;
}

img{
    width: 100%;
}

.logo{
    height: 6em;
    width: auto;
}

header nav{
    background-color: #C9CCC8;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav li a{
   text-decoration: none;
	padding: 1em;
	font-size: 20px;
	color:#000000;
	text-transform: uppercase;
}

nav a:hover{
	color: #a4aca1;
	transition: 0.5s; /*skaber en mere blød overgang mellem linkfarverne*/
} 


section h1 {
    background-image: url("../img/forside.1.png");
    background-size: cover;
    background-position: center;
    color:white;
    font-size: 40px;
    text-align: left;
    margin: 0;
    padding: 20px;
    height: 50vh;
    top: 0;
    left: 0;
    position: relative;
}



.brevkassen a {
display: block;
background-color: #C9CCC8;
color: black;
font-size: 30px;
font-family: sans-serif;
font-weight: 1000;
text-decoration: none;
padding: 0.8em;
text-align: center;
width: 100%;
margin: 2em 0em; 

}

.brevkassen a:hover{
    background-color: #a4aca1;
    transition: 0.5s;
}

.underbrev {
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}


.underbrev p {
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    font-family: serif; 
}


.underbrev img {
    width: 380px;      
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 30px;
}

.underbrev .billeder{
    display: flex;
    justify-content: flex-start;
    gap: 22px;
    margin-top: 0.5em;
}

.underbrev img:last-child {
    margin-right: 0;
}


.billede-box {
    position: relative;
}

.billede-box img {
    width: 380px;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
}

.ikoner {
    position: absolute;
    bottom: 10px;
    right: 30px;
    display: flex;
    gap: 8px;
}

.ikoner i {
    font-size: 22px;
    color: white;
    text-shadow: 0 0 5px black;
    cursor: pointer;
    opacity: 0.9;
}

.ikoner i:hover {
    opacity: 1;
    transform: scale(1.1);
}



.hjælp h2{
display: block;
background-color: #C9CCC8;
color: black;
font-size: 30px;
font-family: sans-serif;
font-weight: 1000;
text-decoration: none;
padding: 0.8em;
text-align: center;
width: 100%;
margin: 2em 0;
}

.hjælp a{
display: flex;
justify-content: center;
align-items: center;
background-color: #C9CCC8;
color: black;
font-size: 22px;
font-family: sans-serif;
font-weight: 1000;
text-decoration: none;
padding: 1em 3em;
text-align: center;
width: 200px;
height: 200px;
margin: 3em auto;
border-radius: 0.5em;
}


.hjælp a:hover{
    background-color: #a4aca1;
    transition: 0.5s;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #DDDBDD;
    padding: 3.2em;

    scroll-behavior: smooth;
}

.bundtekst{
    margin: 0;
    color: black;
    font-size: 1rem;
}


.sociale-medier i {
    font-size: 1.8rem;
    color: black;
    margin-left: 0.5em;
    cursor: pointer;
    transition: 0.3s;
}

.sociale-medier i:hover {
    color: #555;
    transform: scale(1.1);
}



/*desktop version*/
@media screen and (min-width: 768px){
    #bars{
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }
}

/*tablet og mobil version*/
@media screen and (max-width:768px){
    header nav ul {
        display: none;
    }
    
    header {
    background-color: #C9CCC8;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    header nav {
        display: flex;
        align-items: center;
        background-color: transparent;
        padding: 0;
        width: 0;
    }

    nav.show ul {
        display: block;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #C9CCC8;
        width: 100%;
        padding: 1em 0;
    }

    button#bars{
        background-color: transparent;
        border: none;
        font-size: 34px;
        cursor: pointer;
        margin-left: auto;
        z-index: 999;
    }


}